body {
    background-color: rgb(111, 141, 111);
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}

h3 {
    text-align:center;
}

p {
    text-align:center;
}

.info {
    text-align:left;
}

a {
    text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menuButton {
    width: 100px;
    height: 40px;
    font-size: 12px;
}

.backContainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 12px;
}

